
<table>

    <h3>Les articles</h3>
    <a class="btn btn-success" href="{% url 'article_create' %}">create</a>
    <tr>
        <th>Content</th>
        <th>Number</th>
        <th>Actions</th>
    </tr>
    
    {% if articles %}
    {% for article in articles %}
    <tr>
            <td><h6>{{ article.content }}</h6></td>
            <td><h6>{{ article.numbers }}</h6></td>
            <td>
                <a class="btn btn-primary" href="{% url 'article_detail' article.id %}">show</a>
                <a class="btn btn-warning" href="{% url 'article_edit' article.id %}">edit</a>
                <a class="btn btn-danger" href="{% url 'article_delete' article.id %}">delete</a>
            </td>
    </tr>
    {% endfor %}
    {% else %}
        <h2>no articles</h2>
    {% endif %}

</table>


